html {
	font-size: 15px;
}

body {
	margin: 0 0;
	padding: 0 0;
	font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", "serif";
	background-color: #fffff9;
	color: #444;
}

h1 { 
	font-weight: 400;
	margin-top: 4rem;
	margin-bottom: 1.5rem;
	font-size: 3.2rem;
	line-height: 1; 
}

h2 { 
	font-style: italic;
	font-weight: 400;
	margin-top: 2.1rem;
	margin-bottom: 1.4rem;
	font-size: 2.2rem;
	line-height: 1;
}

h3 { 
	font-style: italic;
	font-weight: 400;
	font-size: 1.7rem;
	margin-top: 2rem;
	margin-bottom: 1.4rem;
	line-height: 1; 
}

p, ol, li {
	font-size: 1.4rem;
	line-height: 2.0rem;
}

/* Wrapping */
.wrapped {
	margin: 0 auto;
	padding: 0 100px;
	max-width: 1000px;
}

/* Navigation */
nav {
	background-color: #333;
}

nav img {
	padding: 12px 8px 0px 8px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li.icon {
	float: left;
}

nav li.title {
	float: left;
}

nav li a {
    display: block;
    color: #fffff9;
    text-align: center;
    padding: 16px 16px 9px 16px;
	text-decoration: none;
	font-size: 1.3rem;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

/* Articles */


/* Smaller screens */
@media (max-width:  715px) {
	.wrapped {
		padding: 0 50px;
	}

	nav .title {
		display: none;
	}

	nav li {
		display: block;
		float: left;
	}
}

/* Code highlights */
div.highlight {
	background-color: white;
	padding: 0 1.0rem;
	border: 1px solid black;
	border-radius: 3px;
}

